
<li>
    {{name}}

    <button class="change-devoured btn btn-outline-light" data-id="{{id}}" data-newburger="{{devoured}}">
        {{#if devoured}}<i class="fas fa-cookie-bite"></i> Eaten!{{else}}<i class="fas fa-cookie"></i> Eat me!{{/if}}
    </button>
</li>
